# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: Copyright (c) 2018-2024 Ryan M. Lederman

# Sample input files
empty.bin
test.bin

# Output files
build/*
*.S
*.o
emblob_test.h

# Annoying macOS files
.DS_Store
