# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: Copyright (c) 2024 Ryan M. Lederman

# output files
build/*
*.S
*.o
*.bin

# annoying macOS files
.DS_Store

# Visual Studio files
.vs/
*.user
